<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommiCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CommiCalc.Properties.Settings>
            <setting name="P1" serializeAs="String">
                <value>0.0005</value>
            </setting>
            <setting name="P2" serializeAs="String">
                <value>0.0003</value>
            </setting>
            <setting name="P3" serializeAs="String">
                <value>0.0004</value>
            </setting>
            <setting name="P4" serializeAs="String">
                <value>100</value>
            </setting>
        </CommiCalc.Properties.Settings>
    </userSettings>
</configuration>